<html>
	<head>
			<title>Hunter Assassination Calc</title>
	</head>
	<body>
		<p>What are the chances Sloan and 9 hunter kill you top of 1?</p>
		<form>
			View percentage for Caster: <input type="text" name="Caster"> 
			Defense: <input type="text" name="Defense">
			Armor: <input type="text" name="Armor">
			Boxes: <input type="text" name="Boxes"> 
			Focus: <input type="text" name="Focus">
			<input type="Submit" value="Submit">
		</form>
		<h1>{{death}}</h1>
		<p>This site uses the hunter calculator made by:Francesc Massanes</p>
		<p>The site was built by: Chad Jarmon</p>
	</body>
</html>